<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :booking_day %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.time_select :start, id: :booking_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.time_select :end, id: :booking_end %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :booking_location %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :booking_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
