<% content_for :title, "Customers" %>
<div class="container-fluid" style="margin-top:1em;">
  <div class="row">
    <div class="col-md-12">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h2 class="heading_text">Listing All Customers</h2></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(26,188,156,0.7); border-radius:0 0 1em 1em;padding:0px;margin:0px;">
        <div class="row" style="padding:0px;margin:0px;">
          <div class="col-md-12 login_signup_panel">
            <table class="table table-dark" style="color:#FFFFFF;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Email</th>
                  <th>Registered At</th>
                  <th>Name</th>
                  <th>CNIC</th>
                  <th>Number</th>
                </tr>
              </thead>
              <tbody>
                <% @customers.each do |c|%>
                  <tr>
                    <td><%= c.id%></td>
                    <% if c.image? %>
                        <td><%= image_tag(c.image, class:"img-responsive img-circle", style:"width:50px; height: 50px;  border: 2px solid #FFFFFF;")%></td>
                    <%else%>
                        <td><%= image_tag('user.png', class:"img-responsive img-circle", style:"width:50px; height: 50px; border: 2px solid #FFFFFF;")%></td>
                    <%end%>
                    <td><%= c.email%></td>
                    <% @str = c.created_at.to_s %>
                    <% @str = @str.tr('UTC', '')%>
                    <td><%= @str%></td>
                    <td><%= c.name%></td>
                    <td><%= c.cnic%></td>
                    <td><%= c.number%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <center><%= will_paginate @customers, renderer: BootstrapPagination::Rails %></center>
        </div>
      </div>
    </div>
  </div>
</div>
