<% content_for :title, "Admin Sign-In" %>
<div class="container-fluid" style="margin-top:10em;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 no-pad-xs">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h3 class="heading_text">Admin's Log-In</h3></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(26,188,156,0.7); border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 login_signup_panel">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group" style="padding:0px;margin:0px;">
                <%= f.label :email, class: "login_signup_label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail',class: 'form-control my_text_field', style:"color: #1E8449;", required: true %>
              </div>

              <div class="form-group" style="padding:0px;margin:0px;">
                <%= f.label :password, class: "login_signup_label" %>
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
              </div>
              <br>
              <br>
              <div class="form-group">
                <%= f.submit "Log-In" ,class: 'btn btn-block btn-outline btn-primary active_button', style: "font-weight:bold;font-family: 'Merriweather', serif; color:#FFFFFF" %>
              </div>
            <% end %>

            <%= render "admins/shared/links" %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
