<% content_for :title, "Dashboard" %>
<div class="row">
  <div class="col-md-12">
    <div class="row login_signup_heading" style="padding:0px;margin:0px;">
      <div class="col-md-12">
        <center><h2 class="heading_text">Dashboard</h2></center>
      </div>
    </div>
    <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(26,188,156,0.7); border-radius:0 0 1em 1em;">
      <div class="row">
        <div class="col-md-12 login_signup_panel">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Total Users: <%= @u%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:center;text-align:center;">Total Vendors: <%= @v%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:right;text-align:right;">Total Customers: <%= @c%></h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Total Hall Managers: <%= @managers%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Approved Hall Managers: <%= @approved_managers%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Unapproved Hall Managers: <%= @unapproved_managers%></h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Total Decorators: <%= @decorators%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Approved Decorators: <%= @approved_decorators%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Unapproved Decorators: <%= @unapproved_decorators%></h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Total Photograpers: <%= @photograpers%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Approved Photograpers: <%= @approved_photograpers%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Unapproved Photograpers: <%= @unapproved_photograpers%></h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Total Marquees: <%= @marquees%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Approved Marquees: <%= @approved_marquees%></h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <h4 class="heading_text" style="float:left;text-align:left;">Unapproved Marquees: <%= @unapproved_marquees%></h4>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
