<% content_for :title, "Dashboard" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h2 class="heading_text">Dashboard</h2></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(26,188,156,0.7); border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-12 login_signup_panel">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Users: <%= @u%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Vendors: <%= @v%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Customers: <%= @c%></h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <h4 class="heading_text">Total Approved Vendors: <%= @approved%></h4>
              </div>
              <div class="col-md-6 col-xs-12">
                <h4 class="heading_text">Total Unapproved Vendors: <%= @unapproved%></h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Users: <%= @u%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Vendors: <%= @v%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Customers: <%= @c%></h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Users: <%= @u%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Vendors: <%= @v%></h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h4 class="heading_text">Total Customers: <%= @c%></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
