<% content_for :title, "Approved Photographers" %>
<div class="container-fluid" style="margin-top:1em;">
  <div class="row">
    <div class="col-md-12">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h2 class="heading_text">Listing All Approved Photographers</h2></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(26,188,156,0.7); border-radius:0 0 1em 1em;padding:0px;margin:0px;">
        <div class="row" style="padding:0px;margin:0px;">
          <div class="col-md-12 login_signup_panel">
            <table class="table table-dark" style="color:#FFFFFF;font-weight:bold;font-family: 'Merriweather', serif;text-align: left; float: left;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Equipments</th>
                  <th>Registered At</th>
                  <th>Show</th>
                </tr>
              </thead>
              <tbody>
                <% @photograpers.each do |c|%>
                  <tr>
                    <td><%= c.id%></td>
                    <td><%= c.name%></td>
                    <td><%= c.equipments%></td>
                    <% @str = c.created_at.to_s %>
                    <% @str = @str.tr('UTC', '')%>
                    <td><%= @str%></td>
                    <td><%= link_to "Show", vendor_path(c.user.id), class:"btn btn-success"%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <center><%= will_paginate @photograpers, renderer: BootstrapPagination::Rails %></center>
        </div>
      </div>
    </div>
  </div>
</div>
